@model FanFictionWebSite.Models.FanficCreatingInputModel
@{
    Layout = "_Layout";
}

<form method="post" asp-controller="Fanfic" asp-action="CreateOrEdit">
    <input asp-for="IsUpdating" hidden="hidden" value="@Model.IsUpdating" />
    <input asp-for="FanficId" hidden="hidden" value="@Model.FanficId" />
    <div class="form-group">
        <label for="NameInput">Your fanfic name</label>
        <input asp-for="Name" type="text" class="form-control form-control-lg" id="NameInput" placeholder="Your fanfic name">
    </div>
    <div class="form-group">
        <label for="CategoryInput">Category</label>
        <select asp-for="Category" class="form-control" id="CategoryInput">
            <option>Anime</option>
            <option>Books</option>
            <option>Cinema</option>
            <option>Cartoons</option>
        </select>
    </div>
    <div class="form-group">
        <label for="DescriptionInput">Description</label>
        <textarea asp-for="Description" class="form-control" id="DescriptionInput" contenteditable="true"></textarea>
    </div>
    @if (Model.IsUpdating)
    {
        <input type="submit" class="btn btn-primary" value="Update fanfic and go to chapters" />
    }
    else
    {
        <input type="submit" class="btn btn-primary" value="Create fanfic and go to chapters" />
    }
</form>